<table height="80%" width="100%" id="table_whole" style="position:absolute;bottom:0px;left:0px;right:0px;top:40px;height: calc(100vh - 2.5em) !important;">
  <tr>
    <td height="100%" width="65%" id="content_area"></td>
    <td style="display:none;height:100%;width:0.4%;background: #ddd;cursor: w-resize;" id="mid_td"></td>
    <td width="34%" style="background-color:#eee;display:none;" id="side_code_parent">
      <div id="side_code_top" wrap="off" style="height:65%;">
        <div id="mat_div" wrap="off"
          style="position: relative;height:0%;background:#f9f9f9;outline: none;overflow:auto">
          <div id="matplot_img"></div>
        </div>
        <div id="output_img" wrap="off" readonly
          style="position: relative;height:100%;background:#f9f9f9;outline: none;overflow:auto"></div>
        <div id="pggame_stage" wrap="off" readonly
          style="position: relative;height:0%;background:#f9f9f9;outline: none;overflow:auto"></div>
        <div id="blocklySVG" wrap="off" readonly style="position: relative;height:0%;background:#f9f9f9;outline: none;overflow:auto"></div>
      </div>
      <div id="side_code_mid"></div>
      <div id="side_code_bottom" style="height:34%;position:relative">
        <pre id="side_code" style="position:absolute;height:auto;left:0px;right:0px;top:0px;bottom:0px;overflow-y:auto;width:auto;"></pre>
        <input src='../common/media/ban.png' type='image' id="reset_output" onclick="clearOutput();"></input>
      </div>
    </td>
    <div id="sidebar" class="right-top" onclick="sidecodeClick()"></div>
  </tr>
</table>
<div id="content_blocks" class="content"></div>
<div id="content_arduino" class="content" wrap="off"></div>
<textarea id="content_xml" class="content" wrap="off" readonly></textarea>